{% extends "layout.html" %}
{% block title %}Book{% endblock %}

{% block heading %}
<h1>Books</h1>
{% endblock %}

{% block body %}




<ul>
    <li>
      <p>Title: {{book.title}}</p>
    </li>
    <li>
      <p>Author: {{book.author}}</p>
    </li>
    <li>
      <p>ISBN: {{book.isbn}}</p>
    </li>
    <li>
      <p>Year: {{book.year}}</p>
    </li>
    <li>
      <p>Rating Count: {{reviewAgg.count}}</p>
    </li>
    <li>
      <p>Rating Average: {{reviewAgg.avg | round(2)}}</p>
    </li>
    {% if gr_average_rating %}
    <li>
      <p>Good Reads Rating Average: {{gr_average_rating}}</p>
    </li>
    {% endif %}
    {% if gr_average_rating %}
    <li>
      <p>Good Reads Reviews Count: {{gr_reviews_count}}</p>
    </li>
    {% endif %}
  </ul>
  <h2>All Reviews</h2>

  {% for review in reviews %}
  <p>rating: {{review.rating}} comment: {{review.comments}}</p>
  {% endfor %}

<hr>
  <form action="{{ url_for('review') }}" method="post">
    <p>
      <label for="rating">Rate book bewteen between 1 and 5 </label>

      <input type="number" name="rating" min="1" max="5" value="{{review.rating}}">

    </p>
    <p>
      <label for="comments">Enter comments</label>
      <textarea name="comments" rows="4" cols="50">{{review.comments}}</textarea>
    </p>
    <input type="hidden" name="book_id" value="{{book.id}}">
    <button>Submit</button>
  </form> 


<p>
  <a href="{{ url_for('index')}}">Home</a>
</p>
{% endblock %}